.pagination>li>a {
    background-color: #212529;
    color: white;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #212529;
    background-color: white;
    border-color: #212529;
}

.pagination>.active>a {
    color: #212529 !important;
    background-color: white !important;
    border: solid 1px #212529 !important;
}

.pagination>.active>a:hover {
    background-color: white !important;
    border: solid 1px #212529;
}